<div class="row">
    <div class="col col-md-4" style="text-align: left">
        <h3>Geldausgabe {{company.costs}}</h3>
    </div>
    <div class="col col-md-4" style="text-align: center">
        <h1>{{company.type | company}}</h1>
    </div>
    <div class="col col-md-4" style="text-align: right">
        <h3>Runde {{roundNumber}}</h3>
    </div>
</div>
<div class="row">
    <div class="col col-md-12 border">
        <div style="text-align: center">
            <h2>Bestellungseingang</h2>
        </div>
       <div style="margin: 20px 0 0 0;">
            <h3 ng-repeat="output in contracts.sold | filter:{fulfilled:false}">{{output.amount}} x {{ output.resource | resource }}</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-md-12 border">
        <div style="text-align: center">
            <h2>Bestellungsausgang</h2>
        </div>
         <div style="margin: 20px 0 0 0;">
            <h3 ng-repeat="input in contracts.bought | filter:{fulfilled:false}">{{input.amount}} x {{ input.resource | resource }}</h3>
        </div>
        <div style="margin: 20px 0 0 0;">
            <span style="font-size:24px">{{orderOutput}}x <span ng-if="company.type != 'Brewery'">Bierkästen</span><span ng-if="company.type == 'Brewery'">Waren</span></span>
            <button type="button" class="btn btn-success button-counter" ng-click="addOrderOutput()">+</button>
            <button type="button" class="btn btn-danger button-counter" ng-click="remOrderOutput()">-</button>
            <button type="button" class="btn btn-primary" ng-click="order()">Bestellen</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-md-12 border">
        <div style="text-align: center">
            <h2>Lager</h2>
        </div>
        <div style="margin: 20px 0 0 0;">
            <h3 ng-repeat="storage in company.storages">{{ storage.amount }} x {{ storage.resource | resource }}</h3>
        </div>
    </div>
</div>
